<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>  
        <%= will_paginate @users %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <% @users.each do |user| %>
             <%= avatar_for(user) %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>
